{% extends "layout.html" %}

{% block title %}Alarm Events - {{ site.desc }}{% endblock %}

{% block body %}

{{ include('sites/sitenav.html') }}

{% if alarms %}
<div class="table-responsive">
    <table class="table table-striped table-bordered caption-top shadow-sm">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for alarm in alarms %}
            <tr>
                <td title="{{ alarm.datetime | localDateFormat }}">
                    {{ alarm.datetime | diffForHumans }}
                </td>
                <td>{{ alarm.msg }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <div class="alert alert-info">No active alarm events.</div>
{% endif %}

{% endblock %}