{% extends "layout.html" %}

{% block body %}

<h1 class="display-4">{{ site.desc }}</h1>

{{ include('sites/sitenav.html') }}

<h2 class="display-6">Networks</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered caption-top shadow-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Type</th>
                <th>VLAN</th>
                <th>IP/Subnet</th>
                <th>DHCP</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody>
            {% for network in networks %}
            <tr>
                <td>{{ network.name }}</td>
                <td>{{ network.purpose | unifiNetworkPurpose }}</td>
                <td>
                    {% if network.wan_type %}{{ network.wan_type | unifiNetworkType }}{% endif %}
                    {% if network.vpn_type %}{{ network.vpn_type | unifiNetworkType }}{% endif %}
                </td>
                <td>{{ network.vlan | default('-') }}</td>
                <td>{{ network.ip_subnet | default('-') }}</td>
                <td>
                    {% if network.dhcpd_enabled %}
                    {{ network.dhcpd_start }} - {{ network.dhcpd_stop }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if network.enabled %}
                    {{ network.enabled ? 'Yes' : 'No' }}
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}