{% extends "layout.html" %}

{% block title %}Overview - {{ site.desc }}{% endblock %}

{% block body %}

<div class="container">

    {{ include('sites/sitenav.html') }}

    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
        {{ include('sites/overview/wan.html') }}
        {{ include('sites/overview/www.html') }}
        {{ include('sites/overview/wlan.html') }}
        {{ include('sites/overview/lan.html') }}
        {{ include('sites/overview/vpn.html') }}
    </div>

</div>

{% endblock %}