{% extends "layout.html" %}

{% block title %}Overview - {{ site.desc }}{% endblock %}

{% block body %}

{{ include('sites/sitenav.html') }}

<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
    {{ include('sites/overview/wan.html', {wan: site.wan}) }}
    {{ include('sites/overview/www.html', {www: site.www}) }}
    {{ include('sites/overview/wlan.html', {wlan: site.wlan}) }}
    {{ include('sites/overview/lan.html', {lan: site.lan}) }}
    {{ include('sites/overview/vpn.html', {vpn: site.vpn}) }}
</div>

{% endblock %}