<h2 class="display-6">{{ site.desc }}</h2>

{% set links = [
    {text: 'Overview', href: url_for('overview', { 'site': site.name })},
    {text: 'Alarm Events', href: url_for('alarms', { 'site': site.name }), badge: alarm_count},
    {text: 'Monthly Statistics', href: url_for('stats', { 'site': site.name })},
    {text: 'Devices', href: url_for('devices', { 'site': site.name })},
    {text: 'Networks', href: url_for('networks', { 'site': site.name })},
    {text: 'WLANs', href: url_for('wlans', { 'site': site.name })},
    {text: 'Clients', href: url_for('clients', { 'site': site.name })},
] %}
<ul class="nav nav-tabs mb-4">
    {% for link in links %}
        {% set is_active = current_url() == link.href %}
        <li class="nav-item">
            <a href="{{ link.href }}" class="nav-link {% if is_active %}active{% endif %}">
                {{ link.text }}
                {% if link.badge %}
                <span class="badge bg-warning">{{ link.badge }}</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
