<div class="card shadow-sm mb-4">
    <div class="card-header d-flex justify-content-between">
        <span><i class="bi bi-controller"></i> Controller</span>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>URL:</strong>
            <a href="{{ controller_url }}" target="_blank">{{ controller_url }}</a>
        </li>
        {% if controller.ubnt_device_type %}
            <li class="list-group-item">
                <strong>Device type:</strong>
                {{ controller.ubnt_device_type }} ({{ controller.console_display_version }})
            </li>
        {% endif %}
        <li class="list-group-item"><strong>Name:</strong> {{ controller.name }}</li>
        <li class="list-group-item"><strong>Version:</strong>
            {{ controller.version }}
            {% if controller.update_available %}
                (Update available: {{ controller.update_available }})
            {% endif %}
        </li>
        <li class="list-group-item"><strong>Uptime:</strong> {{ controller.uptime | humanInterval }}</li>
        <li class="list-group-item"><strong>IP Addresses:</strong> {{ controller.ip_addrs | join(', ') }}</li>
        <li class="list-group-item"><strong>HTTPS Port:</strong> {{ controller.https_port }}</li>
        <li class="list-group-item"><strong>Inform Port:</strong> {{ controller.inform_port }}</li>
        <li class="list-group-item"><strong>Timezone:</strong> {{ controller.timezone }}</li>
    </ul>
</div>